{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="Kaede Studios">

  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'webfront/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'webfront/css/nonresp.css' %}" />
  <link rel="stylesheet" href="{% static 'webfront/css/main.css' %}" />

  <title></title>

</head>
<body>

<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Kabuso</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">TimeLine</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">TODO<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Setting</a></li>
              <li class="divider"></li>
              <li><a href="/logout/">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="row">
    <div class="col-md-8">
      {% block main %}{% endblock %}
    </div>
    <div class="col-md-4">
    </div>
  </div>

</div>
<!-- Scripts -->
<script type="text/javascript" src="{% static 'webfront/js/libs/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webfront/js/libs/bootstrap.min.js' %}"></script>
</body>
</html>
