{% extends 'webfront/base.html' %}

{% block main %}
  <p>{{ page.title }}</p>
  {% if page.summary_image_url %}
    <img src="{{ page.summary_image_url }}" />
  {% endif %}
  <p>{{ page.description }}</p>

  {% if user_comment %}
    {{ user_comment.body }}
  {% endif %}

  {% if comment_form %}
    <form method="post" action="{% url 'webfront:comment_page' page_id=page.id %}">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit" value="Comment"/>
    </form>
  {% endif %}

  {% for comment in comments %}
    {{ comment.body }}
  {% endfor %}
{% endblock main %}
