body {
    color: #333333;
}

.dashboard-stream {
    border: solid 1px;
    border-radius: 3px;
}

.dashboard-stream .page-summary {
    max-width: 279px;  /* col-md-4 */
    max-height: 279px;  /* col-md-4 */
}

.page-detail {
    border-bottom: solid 1px #888888;
}

.page-title-body {
    text-decoration: none;
}

.page-detail .page-title h3 {
    color: #333333;
}

.page-detail .page-comment-count {
    text-align: center;
    padding-top: 20px;
    color: #c0a16b;
}

.page-detail .page-comment-count span {
    display: block;
    font-size: x-large;
}

.page-detail .page-description {
    word-break: break-all;
    color: #555555;
    padding-top: 20px;
}

.page-detail .page-summary-image {
    margin-top: 10px;
    max-width: 110px;
    max-height: 110px;
}

.vote-count {
    margin-left: 3px;
    font-weight: bold;
}
